*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

header{
    margin: 20px;
    background-color: rgb(254,166,133);
    height: 15%;
}

.nav{
    display: flex;
    justify-content:space-between;

    justify-content: end;
    margin: 5px 20px 5px 20px;
    background-color: rgb(254,166,133);
    height: 10%;
}

.link{
    margin: 20px;
    background-color: rgb(242, 247, 237);
    height: 30px;
    width: 100px;
}

.article-aside{
    display: flex;
}

article{
    padding: 65px;
    margin: 15px 20px 5px 20px;
    height: 350px;
    width: 60%;
    background-color: rgb(52,201,255);
}

.article-section{
    background-color: rgb(162,225,253);
    margin: 10px;
    height: 30%;
    width: 50%;
}

aside{
    margin: 15px 15px 5px 0px;
    background-color: rgb(217,217,217);
    height: 350px;
    width: 40%;
    padding: 20px;
}

.aside-section{
    background-color: rgb(233,233,233);
    height: 100px;
    width: 300px;
    margin: 10px;
}

footer{
    margin: 5px 15px 0px 20px;
    background-color: rgb(254,166,133);
    height: 10%;
}